{% extends "users/layout.html" %}

{% block body %}
    <h1>
        COUrSES  {{ couses.id }}
    </h1>
    <u1>
        <li>subject : {{ couses.subject}}</li>
        <li>Semmemster : {{couses.term}}</li>
        <li>Student : {{ keekon }} / {{couses.num_student}}</li>
        <li>Status : {% if couses.status %}
                    Avalible
                    {%else%}
                    Unvalible
                    {% endif %}
        </li>
        
        
   
    </u1>
    {% if request.user.is_superuser %}
    <h3> Student: </h3>
    <ul>
        {% for student in portai %}
        <li>
            {{ student.first_name }} {{ student.last_name }}
        </li>
        {% empty %}
        <li>
            No student
        </li>
        {% endfor %}
    </ul>
    
    {% else %}
   
    {% endif %}
    
    {% if request.user not in portai %}
        {% if couses.status %}
        <p><a href="{% url 'users:book' couses.id %}">Register</a></h3>
        {% else %}
        
        {% endif %}
    {% else %}
    <h1>
        aLRadY rEgisTer </h1>
    <br>
    <p><a href="{% url 'users:debook' couses.id %}">de Register</a>
    
    {% endif %}
    
    <br>
    <br>
    <br>
    <li><a href = "{% url 'users:index' %}">Back to menu</a></li>
    {% if request.user.is_superuser %}
    <li><a href="{% url 'users:admun' couses.id %}">Admin CoMand</a></li>
    {% else %}
   
    {% endif %}
{% endblock %}